{% extends 'base.html.twig' %}
{% block title %}Projets
{% endblock %}
{% block stylesheets %}
    <link type="text/css" rel="stylesheet" href="{{asset("css/projets_gestion.css")}}"/>
    <link type="text/css" rel="stylesheet" href="{{asset("css/techno_gestion.css")}}"/>
{% endblock %}

{% block body%}
<div id="app">
<img id="Bandeau" src={{asset("images/banniere-projets.jpg")}} alt="Bandeau">
<div class="Une_Ligne">
  <p>Projets<p>
</div>
  <div class="wrapper">
    <div class="wrapperChild"  v-for="(projet,index) in projets">
      <img class="Images_Projet" v-bind:src=projet.miniature alt="Bandeau">
      <a  v-bind:href="'/cms/edit-project/' + projet.id"  class="gestion_button">edit</a>
      <a v-bind:href="'/cms/delete-projet/' + projet.id" class="gestion_button">suprimer</a>
    </div>
      <a class="wrapperChild plus" href="{{ path('new_project') }}"><div class="gestion_data_top"><p><i class="fas fa-plus"></i></p></div><a>
  </div>
</div>

<div class="Une_Ligne">
<p>Technologies</p>
</div>
  <div class="wrapper">
      {% for technologie in technologies %}
    <div class="wrapperChild">
      <div class="gestion_data_top">
      <p>{{ technologie.icon|raw }}</p>
      <p>{{ technologie.name }}</p>
      </div>
      <a  href="{{ path('editTechnologie' , {'id' : technologie.id } ) }}"  class="gestion_button">edit</a>
      <a  href="{{ path('deleteTechnologie' , {'id' : technologie.id } ) }}" class="gestion_button">suprimer</a>

    </div>
      {% endfor %}
        <a class="wrapperChild plus" href="{{ path('new_technologie') }}"><div class="gestion_data_top"><p><i class="fas fa-plus"></i></p></div><a>
</div>


            {% endblock %}
            {% block js %}
                <script crossorigin="anonymous" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
                <script src="{{asset('js/vue.js')}}"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
                <script src="{{asset('js/get-project.js')}}"></script>
                <script src="{{asset('js/flip.js')}}"></script>
            {% endblock %}
