{% extends 'base.html.twig' %}
{% block stylesheets %}
  <link type="text/css" rel="stylesheet" href={{asset("css/equipe.css")}}/>
{% endblock %}
{% block body%}

  <img id="Bandeau" src={{asset("images/Equipe_Background.jpg")}} alt="Bandeau">

  <div id="Qui">
    <h1>QUI SOMMES-NOUS ?</h1>
  </div>

  <div class="Toute_Section">
    <div class="Ensemble_Info">
      <div class="Info_Gauche">
        <img class="Image_Profil" src={{asset("images/Profil_Thomas.jpg")}} alt="Photo Thomas">
<div class="Info_Gauche_Droite">
        <h2>THOMAS KLEINE</h2>
        <h3>UX et UI Designer / Webdesigner <br />/ Vidéaste</h3>
        <div class="Social_User">
          <a href="https://www.facebook.com/Fas.Esuria/">
            <i class="fab fa-facebook" aria-hidden="aria-hidden"></i>
          </a>
          <a href="https://twitter.com/fas_esuria ">
            <i class="fab fa-twitter" aria-hidden="aria-hidden"></i>
          </a>
          <a href="https://www.linkedin.com/in/esuria/ ">
            <i class="fab fa-linkedin linked" aria-hidden="aria-hidden"></i>
          </a>
          <a href="mailto:kleine.thomas@com4up.fr">
            <i class="fas fa-envelope" aria-hidden="aria-hidden"></i>
          </a>
        </div>
      </div>
      </div>
  <div class="Info_Droite">
      <p>
        Cofondateur de Com4Up. Ancien étudiant titré “Associate of Science, Technicien en Informatique” à SUPINFO Internationnal University, où j’ai acquis des connaissances en développement, réseaux et management. Je suis passionné par l’UX et UI Design, le
        Web Design, le domaine de l’hardware et de l’audiovisuel. Je suis également le fondateur du collectif de vidéastes et communauté multi-gaming Faerith’s.
      </p>
      <p>
        <span class="Gras">Maîtrises :</span>
      </br>
    </br>
      <span class="Gras">UX/UI Design :</span> Balsamiq Mockups | Adobe XD | Photoshop
    </br><span class="Gras">Front-End :</span> HTML5 | CSS3 | Wordpress
    <br /><span class="Gras">SEM (Search Engine Marketing) :</span> Référencement Naturel (SEO) | Publicité sur les Moteurs de Recherche (SEA) | Optimisation des Médias Sociaux (SMO)
    <br /><span class="Gras">Audiovisuel</span>
      : Premiere Pro | After Effects | OBS | Streamlabs OBS | Action! </br><span class="Gras">Matériel :</span> Installation | Maintenance
    </p>
  </div>
    </div>
</div>

<div class="Background_Gris Toute_Section">
  <div class="Ensemble_Info">
    <div class="Info_Gauche">
      <img class="Image_Profil" src={{asset("images/Profil_Sebastien.jpg")}} alt="Photo Sébastien">
      <div class="Info_Gauche_Droite">
      <h2>SÉBASTIEN OULERICH</h2>
      <h3>Développeur Full Stack</h3>
      <div class="Social_User">
        <a href="https://www.facebook.com/Fas.Nargash">
          <i class="fab fa-facebook" aria-hidden="aria-hidden"></i>
        </a>
        <a href="https://twitter.com/Fas_Nargash ">
          <i class="fab fa-twitter" aria-hidden="aria-hidden"></i>
        </a>
        <a href="https://www.linkedin.com/in/sebastien-oulerich/">
          <i class="fab fa-linkedin linked" aria-hidden="aria-hidden"></i>
        </a>
        <a href="mailto:oulerich.sebastien@com4up.fr">
          <i class="fas fa-envelope" aria-hidden="aria-hidden"></i>
        </a>
      </div>
    </div>
  </div>
    <div class="Info_Droite">
    <p>
      Cofondateur et développeur Full Stack de Com4Up, je suis passionné par l'informatique et plus précisément par le web ainsi que par la gestion d'entreprises et de projets. Je suis également administrateur du collectif Faerith’s dont j’ai participé au
      développement. De nature autodidacte, j'ai lancé ce projet avec l'aide de mes collègues après une année d'étude sur le campus EPITECH de Nancy. Je suis en constante veille technologique pour construire au mieux le monde numérique de demain.
    </p>
    <p>
      <span class="Gras">Maîtrises :</span>
    </br>
    </br>
    <span class="Gras">UX/UI Design :</span> Balsamiq Mockups
  </br><span class="Gras"> Front-End :</span> HTML5 | CSS3 | Jquery | Javascript | Wordpress
</br><span class="Gras">Back-End :</span> Symfony 4<br /><span class="Gras">Audiovisuel</span>
  : Premiere Pro | After Effects | OBS | Streamlabs OBS
  </p>
  </div>
  </div>
</div>

<div class="Toute_Section">
  <div class="Ensemble_Info">

    <div class="Info_Gauche">
      <img class="Image_Profil" src={{asset("images/Profil_Loic.jpg")}} alt="Photo Loic">
      <div class="Info_Gauche_Droite">
      <h2>LOIC OULERICH</h2>
      <h3>Développeur Back-End</h3>
      <div class="Social_User">
        <a href="https://www.facebook.com/loic.oulerich ">
          <i class="fab fa-facebook" aria-hidden="aria-hidden"></i>
        </a>
        <a href="https://www.linkedin.com/in/loic-oulerich-4a9536136/ ">
          <i class="fab fa-linkedin linked" aria-hidden="aria-hidden"></i>
        </a>
        <a href="mailto:oulerich.loic@com4up.fr">
          <i class="fas fa-envelope" aria-hidden="aria-hidden"></i>
        </a>
      </div>
    </div>
  </div>
    <div class="Info_Droite">
  <p>
    Cofondateur et développeur Back-End de Com4Up, actuellement étudiant en 4ème année à l’école d’ingénieur informatique Cesi. Passionné par la programmation, j’ai décidé de m’orienter dans le développement web et plus particulièrement dans la
    programmation orientée serveur avec le framework Symfony. Je participe également à l’administration du site Internet du collectif Faerith’s.
  </p>
  <p>
    <span class="Gras">Maîtrise :</span>
  </br>
  </br>
  <span class="Gras">Front-End :</span> HTML5 | Javascript | Jquery | Ajax | VueJS </br><span class="Gras">Back-End :</span> PHP | Symfony 4 | Base de Donnée
  </p>
  </div>
  </div>
</div>

<div class="Background_Gris Toute_Section">
  <div class="Ensemble_Info">

    <div class="Info_Gauche">
      <img class="Image_Profil" src={{asset("images/Profil_Julien.jpg")}} alt="Photo Julien">
      <div class="Info_Gauche_Droite">
      <h2>JULIEN GOBY</h2>
      <h3>Technicien Audiovisuel</h3>
      <div class="Social_User">
      <a href="https://www.facebook.com/juliendondada ">
        <i class="fab fa-facebook" aria-hidden="aria-hidden"></i>
      </a>
      <a href="https://twitter.com/WanTeeD57 ">
        <i class="fab fa-twitter" aria-hidden="aria-hidden"></i>
      </a>
      <a href="https://www.linkedin.com/in/julien-goby-2710b9138/ ">
        <i class="fab fa-linkedin linked" aria-hidden="aria-hidden"></i>
      </a>
      <a href="">
        <i class="fas fa-envelope" aria-hidden="aria-hidden"></i>
      </a>
      </div>
    </div>
  </div>
  <div class="Info_Droite">
    <p>
    Associé de Com4Up. Technicien supérieur en audiovisuel, diplômé d’un BTS Métiers de l’Audiovisuel option technique d’ingénierie et exploitation des équipements. Passionné de vidéo depuis mon plus jeune âge, mes études m’ont appris la vidéo broadcast,
    le workflow ainsi que la maîtrise des équipements et du langage professionnel. Je travaille actuellement en tant que technicien dans l'événementiel.
    </p>
    <p>
    <span class="Gras">Maîtrise :</span>
    </br>
    </br>
    <span class="Gras">Audiovisuel :</span> </br>Pratique → Montage | Cadrage | Prise de son </br>Logiciel → Premiere Pro | After Effect
    </p>
  </div>
  </div>


</div>

{% endblock %}
