{% extends 'base.html.twig' %}
{% block description %}Agence de Communication Digitale vous accompagnant vers le Numérique (Site Web / Audiovisuel / Réseaux Sociaux / Matériel Informatique).{% endblock %}
{% block title %}Accueil
{% endblock %}
{% block stylesheets %}
    <link type="text/css" rel="stylesheet" href="{{asset("css/index.css")}}">
    <link rel="stylesheet" href="{{ asset('css/swiper.min.css') }}">
{% endblock %}
{% block body%}

    <div id="Services_mob">
        <a href="{{ path('services_web') }}" class="Bloc_web"><img class="service_mob_pic" src={{asset("images/Accueil-Web.jpg")}} alt="Service web"><p>Site web</p>
            <div class="Web_hover"></div>
        </a>
        <a href="{{ path('services_audiovisuel') }}" class="Bloc_audiovisuel"><img class="audiovisuel_mob_pic" src={{asset("images/Accueil-Audiovisuel.jpg")}} alt="Service audiovisuel"><p>Audiovisuel</p>
            <div class="Audiovisuel_hover"></div>
        </a>
        <a href="{{ path('services_social') }}" class="Bloc_Social"><img class="social_mob_pic" src={{asset("images/Accueil-Reseaux.jpg")}} alt="Service réseaux sociaux"><p>Réseaux sociaux</p>
            <div class="Social_hover"></div>
        </a>
        <a href="{{ path('services_materiel') }}" class="Bloc_materiel"><img class="materiel_mob_pic" src={{asset("images/Accueil-Materiel.jpg")}} alt="Service matériel"><p>Matériel</p>
            <div class="Materiel_hover"></div>
        </a>
    </div>


    <div class="swiper-container" id="Mobile_service">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a href="{{ path('services_web') }}" class="Bloc_web"><img class="service_mob_pic" src={{asset("images/Accueil-Web.jpg")}} alt="Service web"><p>Site web</p>
                    <div class="Web_hover"></div>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="{{ path('services_audiovisuel') }}" class="Bloc_audiovisuel"><img class="audiovisuel_mob_pic" src={{asset("images/Accueil-Audiovisuel.jpg")}} alt="Service audiovisuel"><p>Audiovisuel</p>
                    <div class="Audiovisuel_hover"></div>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="{{ path('services_social') }}" class="Bloc_Social"><img class="social_mob_pic" src={{asset("images/Accueil-Reseaux.jpg")}} alt="Service réseaux sociaux"><p>Réseaux sociaux</p>
                    <div class="Social_hover"></div>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="{{ path('services_materiel') }}" class="Bloc_materiel"><img class="materiel_mob_pic" src={{asset("images/Accueil-Materiel.jpg")}} alt="Service matériel"><p>Matériel</p>
                    <div class="Materiel_hover"></div>
                </a>
            </div>
        </div>
    </div>
</div>
<div id="app">

    <div id="Une_Colonne">
        <h1 id="Titre_Principal">Travaux Récents</h1>
        <ul
            id="Categorie_Selection">
            {# <li v-on:click="setSelect('All')">
                            Tous
                        </li>
                        <li class="Espace_Slash">
                            /
                        </li> #}
            <li v-on:click="setSelect('web')">
                Site Web
            </li>
            {# <li class="Espace_Slash">
                            /
                        </li>
                        <li v-on:click="setSelect('audiovisuel')">
                            Audiovisuel
                        </li>
                        <li class="Espace_Slash">
                            /
                        </li>
                        <li v-on:click="setSelect('social')">
                            Réseaux Sociaux
                        </li>
                        <li class="Espace_Slash">
                            /
                        </li>
                        <li v-on:click="setSelect('materiel')">
                            Matériel
                        </li> #}
        </ul>
    </div>

    {# <div class="cards">
          {% set counter = 0 %}
          {% for i in  counter..11 %}
          <img class="card" src={{asset("images/projets/Projet.jpg")}} alt="Bandeau" id="card-{{ counter }}">
           {% set counter = counter + 1 %}
           {% endfor %}
        </div> #}

    <div id="Integrale_Image">
        <a class="card" v-bind:href="'/projets/' + projet.slug " v-for="(projet,index) in projets">
            <img alt="Bandeau" class="Images_Projet" v-bind:src="projet.miniature">
            <div class="Projet_hover" v-bind:class="hover_select(projet.categorie)">
                <div class="Projet_hover_border"></div>
            </div>
        </a>
    </div>
</div>
<div id="Bloc_Equipe">
    <h2 id="Qui">Qui sommes nous?</h2>
    <div id="Bloc_Equipe_Content">
        <div class="Bloc_Equipe_Case">
            <div class="Bloc_Equipe_Case_text">
                <img src={{asset("images/Profil_Thomas.jpg")}} alt="Photo de Thomas Kleine">
                <h3>Thomas Kleine</h3>
                <h4>UX - UI Designer / Monteur vidéo</h4>
                <p>Cofondateur de Com4Up, je réalise l’UX et l’UI Design des différents projets. Je possède également une expertise en audiovisuel et en référencement, vous permettant d’améliorer au mieux votre visibilité.</p>
            </div>
            <div class="Equipe_Social">
                <a href="https://www.esuria.fr/" target="_blank">
                    <i aria-hidden class="far fa-globe"></i>
                </a>
                <a href="https://www.facebook.com/Fas.Esuria/" target="_blank">
                      <i aria-hidden="aria-hidden" class="fab fa-facebook"></i>
                </a>
                <a href="https://twitter.com/fas_esuria" target="_blank">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="https://www.linkedin.com/in/esuria/" target="_blank">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="mailto:kleine.thomas@com4up.fr">
                    <i class="fas fa-envelope"></i>
                </a>
            </div>
        </div>
        <div class="Bloc_Equipe_Case">
            <div class="Bloc_Equipe_Case_text">
                <img src={{asset("images/Profil_Sebastien.jpg")}} alt="Photo de Sebastien Oulerich">
                <h3>Sébastien Oulerich</h3>
                <h4>Développeur Full Stack</h4>
                <p>Cofondateur et développeur Full Stack de Com4Up. Je réalise l’intégration de vos projets à partir des maquettes d’UX/UI Design et participe à la structuration des bases de données.</p>
            </div>
            <div class="Equipe_Social">
                <a href="https://www.nargash.fr/" target="_blank">
                    <i aria-hidden class="far fa-globe"></i>
                </a>
                <a href="https://www.facebook.com/Fas.Nargash" target="_blank">
                    <i aria-hidden="aria-hidden" class="fab fa-facebook"></i>
                </a>
                <a href="https://www.linkedin.com/in/sebastien-oulerich/" target="_blank">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="mailto:oulerich.sebastien@com4up.fr">
                    <i class="fas fa-envelope"></i>
                </a>
            </div>
        </div>
        <div class="Bloc_Equipe_Case">
            <div class="Bloc_Equipe_Case_text">
                <img src={{asset("images/Profil_Loic.jpg")}} alt="Photo de Loic Oulerich">
                <h3>Loic Oulerich</h3>
                <h4>Développeur Back-End</h4>
                <p>Cofondateur et développeur Back-End de Com4Up. Passionné par la programmation, j’ai décidé de m’orienter dans le développement web et plus particulièrement dans la
                      programmation orientée serveur avec le framework Symfony.</p>
            </div>
            <div class="Equipe_Social">
                <a href="https://www.loic-oulerich.fr/" target="_blank">
                    <i aria-hidden class="far fa-globe"></i>
                </a>
                <a href="https://www.facebook.com/loic.oulerich" target="_blank">
                    <i aria-hidden="aria-hidden" class="fab fa-facebook"></i>
                </a>
                <a href="https://www.linkedin.com/in/loic-oulerich/" target="_blank">
                    <i class="fab fa-linkedin fa-linkedin-square_loic"></i>
                </a>
                <a href="mailto:oulerich.loic@com4up.fr">
                    <i class="fas fa-envelope"></i>
                </a>
            </div>
        </div>
        <div class="Bloc_Equipe_Case">
            <div class="Bloc_Equipe_Case_text">
                <img src={{asset("images/Profil_Julien.jpg")}} alt="Photo de Julien Goby">
                <h3>Julien Goby</h3>
                <h4>Technicien Audiovisuel</h4>
                <p>Consultant pour Com4Up. Technicien supérieur en audiovisuel, spécialiste dans la captation/diffusion vidéo broadcast.</p>
            </div>
            <div class="Equipe_Social">
                <a href="https://www.facebook.com/juliendondada" target="_blank">
                      <i aria-hidden="aria-hidden" class="fab fa-facebook"></i>
                </a>
                <a href="https://twitter.com/WanTeeD57" target="_blank">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="https://www.linkedin.com/in/julien-goby-2710b9138/" target="_blank">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="mailto:iwntd.faeriths@gmail.com">
                    <i class="fas fa-envelope"></i>
                </a>
            </div>
        </div>
    </div>
</div>{# <div id="Confiance_Section">
                          <h2>ILS NOUS FONT CONFIANCE !</h2>
                          <div id="Logo_Confiance">
                            <i class="fas fa-chevron-left" aria-hidden></i>
                              <img class="Confiance_Photo" src="https://via.placeholder.com/300x125" alt="Photo Confiance">
                              <img class="Confiance_Photo" src="https://via.placeholder.com/300x125" alt="Photo Confiance">
                              <img class="Confiance_Photo" src="https://via.placeholder.com/300x125" alt="Photo Confiance">
                              <img class="Confiance_Photo Photo_Mobile" src="https://via.placeholder.com/300x125" alt="Photo Confiance">
                              <img class="Confiance_Photo Photo_Mobile" src="https://via.placeholder.com/300x125" alt="Photo Confiance">
                            <i class="fas fa-chevron-right" aria-hidden></i>
                          </div>
                        </div>

                        <div id="Temoignage_Section">
                          <h2>TÉMOIGNAGES</h2>
                          <div id="Ensemble_Temoignage">
                            <div class="Temoignages">
                              <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                                aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                              </p>
                              <div class="Ensemble_Profil">
                                <div class="Image_Temoignage">
                                  <img class="Temoignages_Photo" src="https://via.placeholder.com/50x50" alt="Photo Témoignages">
                                </div>
                                <div class="Prenom_Metier">
                                  <h4>Prénom NOM</h4>
                                  <h5>Métier</h5>
                                </div>
                              </div>

                            </div>
                            <div class="Temoignages">
                              <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                                aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                              </p>
                              <div class="Ensemble_Profil">
                                <div class="Image_Temoignage">
                                  <img class="Temoignages_Photo" src="https://via.placeholder.com/50x50" alt="Photo Témoignages">
                                </div>
                                <div class="Prenom_Metier">
                                  <h4>Prénom NOM</h4>
                                  <h5>Métier</h5>
                                </div>
                              </div>

                            </div>
                            <div class="Temoignages">
                              <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                                aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                              </p>
                              <div class="Ensemble_Profil">
                                <div class="Image_Temoignage">
                                  <img class="Temoignages_Photo" src="https://via.placeholder.com/50x50" alt="Photo Témoignages">
                                </div>
                                <div class="Prenom_Metier">
                                  <h4>Prénom NOM</h4>
                                  <h5>Métier</h5>
                                </div>
                              </div>

                            </div> #}</div></div>{% endblock %}{% block js %}<!-- Swiper JS --><script src="../js/swiper.min.js" type="text/javascript"></script><!-- Initialize Swiper --><script>var swiper1 = new Swiper('.swiper-container', {
    pagination: '.swiper-pagination',
    nextButton: '.swiper-button-next',
    prevButton: '.swiper-button-prev',
    slidesPerView: 1,
    paginationClickable: true,
    spaceBetween: 0,
    loop: true
});

var swiper2 = new Swiper('.Confiance_Slider', {
    pagination: '.swiper-pagination',
    nextButton: '.swiper-button-next',
    prevButton: '.swiper-button-prev',
    slidesPerView: 5,
    paginationClickable: true,
    spaceBetween: 0,
    loop: true
});
var swiper3 = new Swiper('.Confiance_Slider_mobile', {
    pagination: '.swiper-pagination',
    nextButton: '.swiper-button-next',
    prevButton: '.swiper-button-prev',
    slidesPerView: 1,
    paginationClickable: true,
    spaceBetween: 0,
    loop: true
});
</script>
<script src="{{asset('js/vue.js')}}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="{{asset('js/get-project.js')}}"></script>
<script src="{{asset('js/flip.js')}}"></script>
{% endblock %}
