{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}
{% block stylesheets %}
<link type="text/css" rel="stylesheet" href={{asset("css/index.css")}} />{% endblock %}
{% block body%}

<div id="Services">
  <a href="{{ path('services_web') }}"><img id="Web" class="Images_Services" src={{asset("images/Accueil-Web.jpg")}} alt="Image Web"></a>
  <a href="{{ path('services_audiovisuel') }}"><img id="Audiovisuel" class="Images_Services" src={{asset("images/Accueil-Audiovisuel.jpg")}} alt="Image Audiovisuel"></a>
  <a href="{{ path('services_social') }}"><img id="Reseaux" class="Images_Services" src={{asset("images/Accueil-Reseaux.jpg")}} alt="Image Réseaux Sociaux"></a>
  <a href="{{ path('services_materiel') }}"><img id="Hardware" class="Images_Services" src={{asset("images/Accueil-Materiel.jpg")}} alt="Image Matériel"></a>
</div>

<div id="Une_Colonne">
  <h1 id="Titre_Principal">Travaux Récents</h1>
  <ul id="Categorie_Selection">
    <li>
      Tous
    </li>
    <li class="Espace_Slash">
      /
    </li>
    <li>
      Site Web
    </li>
    <li class="Espace_Slash">
      /
    </li>
    <li>
      Audiovisuel
    </li>
    <li class="Espace_Slash">
      /
    </li>
    <li>
      Réseaux Sociaux
    </li>
    <li class="Espace_Slash">
      /
    </li>
    <li>
      Matériel
    </li>
  </ul>
</div>

<div id="Integrale_Image">
  <a href=""><img class="Images_Projet" src={{asset("images/projets/com4up.jpg")}} alt="Bandeau">
    <div class="Projet_hover Projet_hover_web">
      <div class="Projet_hover_border"></div>
    </div>
  </a>
  <a href="{{ path('projet_id') }}"><img class="Images_Projet" src={{asset("images/projets/faeriths.jpg")}} alt="Bandeau">
    <div class="Projet_hover Projet_hover_web">
      <div class="Projet_hover_border"></div>
    </div>
  </a>
  <a href=""><img class="Images_Projet" src={{asset("images/projets/esuria.jpg")}} alt="Bandeau">
    <div class="Projet_hover Projet_hover_web">
      <div class="Projet_hover_border"></div>
    </div>
  </a>
  <a href=""><img class="Images_Projet" src={{asset("images/projets/streamingschool.jpg")}} alt="Bandeau">
    <div class="Projet_hover Projet_hover_web">
      <div class="Projet_hover_border"></div>
    </div>
  </a>
  <a href=""><img class="Images_Projet" src={{asset("images/projets/loic.jpg")}} alt="Bandeau">
    <div class="Projet_hover Projet_hover_web">
      <div class="Projet_hover_border"></div>
    </div>
  </a>
  <a href=""><img class="Images_Projet" src={{asset("images/projets/sebastien.jpg")}} alt="Bandeau">
    <div class="Projet_hover Projet_hover_web">
      <div class="Projet_hover_border"></div>
    </div>
  </a>
  <a href=""><img class="Images_Projet" src={{asset("images/projets/MichelLavertu.jpg")}} alt="Bandeau">
    <div class="Projet_hover Projet_hover_web">
      <div class="Projet_hover_border"></div>
    </div>
  </a>
  <a href=""><img class="Images_Projet" src={{asset("images/projets/Projet.jpg")}} alt="Bandeau"></a>
</div>

<div id="Bloc_Equipe">
  <h2 id="Qui">Qui sommes nous?</h2>
  <div id="Bloc_Equipe_Content">
    <div class="Bloc_Equipe_Case">
      <div class="Bloc_Equipe_Case_text">
        <img src={{asset("images/Profil_Thomas.jpg")}} alt="Photo de Thomas Kleine">
        <h3>Thomas Kleine</h3>
        <h4>UX et UI Designer / Webdesigner<br/>/ Vidéaste</h4>
        <p>Cofondateur de Com4Up, je réalise l’UX et l’UI Design des différents projets. Je participe au développement Front-End des sites web et je possède également des compétences en référencement, vous permettant d’améliorer votre visibilité.</p>
      </div>
      <div class="Equipe_Social">
        <a href="https://www.esuria.fr/" target="_blank">
          <i class="far fa-globe" aria-hidden></i>
        </a>
        <a href="https://www.facebook.com/Fas.Esuria/" target="_blank">
          <i class="fab fa-facebook-square"></i>
        </a>
        <a href="https://twitter.com/fas_esuria" target="_blank">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.linkedin.com/in/esuria/" target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="mailto:kleine.thomas@com4up.fr">
          <i class="fas fa-envelope"></i>
        </a>
      </div>
    </div>
    <div class="Bloc_Equipe_Case">
      <div class="Bloc_Equipe_Case_text">
        <img src={{asset("images/Profil_Sebastien.jpg")}} alt="Photo de Sebastien Oulerich">
        <h3>Sébastien Oulerich</h3>
        <h4>Développeur Full Stack</h4>
        <p>Cofondateur et développeur Full Stack de Com4Up. Je réalise l’intégration de vos projets à partir des maquettes d’UX/UI Design et participe à la structuration des bases de données.</p>
      </div>
      <div class="Equipe_Social">
        <a href="https://www.nargash.fr/" target="_blank">
          <i class="far fa-globe" aria-hidden></i>
        </a>
        <a href="https://www.facebook.com/Fas.Nargash" target="_blank">
          <i class="fab fa-facebook-square"></i>
        </a>
        <a href="https://twitter.com/Fas_Nargash" target="_blank">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.linkedin.com/in/sebastien-oulerich/" target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="mailto:oulerich.sebastien@com4up.fr">
          <i class="fas fa-envelope"></i>
        </a>
      </div>
    </div>
    <div class="Bloc_Equipe_Case">
      <div class="Bloc_Equipe_Case_text">
        <img src={{asset("images/Profil_Loic.jpg")}} alt="Photo de Loic Oulerich">
        <h3>Loic Oulerich</h3>
        <h4>Développeur Back-End</h4>
        <p>Cofondateur et développeur Back-End de Com4Up, actuellement étudiant en 4ème année à l’école d’ingénieur informatique Cesi. Lors de mon Cursus scolaire, j'ai pu approfondir le développement web qui est rapidement devenu une véritable passion.</p>
      </div>
      <div class="Equipe_Social">
        <a href="https://www.loic-oulerich.fr/" target="_blank">
          <i class="far fa-globe" aria-hidden></i>
        </a>
        <a href="https://www.facebook.com/loic.oulerich" target="_blank">
          <i class="fab fa-facebook-square fa-facebook-square_loic"></i>
        </a>
        <a href="https://www.linkedin.com/in/loic-oulerich-4a9536136/" target="_blank">
          <i class="fab fa-linkedin fa-linkedin-square_loic"></i>
        </a>
        <a href="mailto:oulerich.loic@com4up.fr">
          <i class="fas fa-envelope"></i>
        </a>
      </div>
    </div>
    <div class="Bloc_Equipe_Case">
      <div class="Bloc_Equipe_Case_text">
        <img src={{asset("images/Profil_Julien.jpg")}} alt="Photo de Julien Goby">
        <h3>Julien Goby</h3>
        <h4>Technicien Audiovisuel</h4>
        <p>Collaborateur de Com4Up. Technicien supérieur en audiovisuel, spécialisé dans la technique vidéo. Passionné de vidéo depuis mon plus jeune âge, mes études m’ont appris la vidéo broadcast.</p>
      </div>
      <div class="Equipe_Social">
        <a href="https://www.facebook.com/juliendondada" target="_blank">
          <i class="fab fa-facebook-square"></i>
        </a>
        <a href="https://twitter.com/WanTeeD57" target="_blank">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.linkedin.com/in/julien-goby-2710b9138/" target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="mailto:iwntd.faeriths@gmail.com">
          <i class="fas fa-envelope"></i>
        </a>
      </div>
    </div>
  </div>
</div>


<div id="Confiance_Section">
  <h2>ILS NOUS FONT CONFIANCE !</h2>
  <div id="Logo_Confiance">
    <i class="fas fa-chevron-left" aria-hidden></i>
      <img class="Confiance_Photo" src="https://via.placeholder.com/300x125" alt="Photo Confiance">
      <img class="Confiance_Photo" src="https://via.placeholder.com/300x125" alt="Photo Confiance">
      <img class="Confiance_Photo" src="https://via.placeholder.com/300x125" alt="Photo Confiance">
      <img class="Confiance_Photo" src="https://via.placeholder.com/300x125" alt="Photo Confiance">
      <img class="Confiance_Photo" src="https://via.placeholder.com/300x125" alt="Photo Confiance">
    <i class="fas fa-chevron-right" aria-hidden></i>
  </div>
</div>

<div id="Temoignage_Section">
  <h2>TÉMOIGNAGES</h2>
  <div id="Ensemble_Temoignage">
    <div class="Temoignages">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
        aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <div class="Ensemble_Profil">
        <div class="Image_Temoignage">
          <img class="Temoignages_Photo" src={{asset("images/.jpg")}} alt="Photo Témoignages">
        </div>
        <div class="Prenom_Metier">
          <h4>Prénom NOM</h4>
          <h5>Métier</h5>
        </div>
      </div>

    </div>
    <div class="Temoignages">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
        aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <div class="Ensemble_Profil">
        <div class="Image_Temoignage">
          <img class="Temoignages_Photo" src={{asset("images/.jpg")}} alt="Photo Témoignages">
        </div>
        <div class="Prenom_Metier">
          <h4>Prénom NOM</h4>
          <h5>Métier</h5>
        </div>
      </div>

    </div>
    <div class="Temoignages">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
        aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <div class="Ensemble_Profil">
        <div class="Image_Temoignage">
          <img class="Temoignages_Photo" src={{asset("images/.jpg")}} alt="Photo Témoignages">
        </div>
        <div class="Prenom_Metier">
          <h4>Prénom NOM</h4>
          <h5>Métier</h5>
        </div>
      </div>

    </div>
  </div>
</div>

{% endblock %}
