{% extends 'base.html.twig' %}
{% block title %}Projets
{% endblock %}
{% block stylesheets %}
    <link type="text/css" rel="stylesheet" href="{{asset("css/projets.css")}}"/>
{% endblock %}
{% block body%}
    <div id="app">
        <img id="Bandeau" src={{asset("images/banniere-projets.jpg")}} alt="Bandeau">

        <div id="Une_Ligne">
            <h1 id="Titre_Principal">Travaux Récents</h1>
            <ul
                id="Categorie_Selection">
                {# <li v-on:click="setSelect('All')">
                      Tous
                    </li>
                    <li class="Espace_Slash">
                      /
                    </li> #}
                <li v-on:click="setSelect('web')">
                    Site Web
                </li>
                {# <li class="Espace_Slash">
                      /
                    </li>
                    <li v-on:click="setSelect('audiovisuel')">
                      Audiovisuel
                    </li>
                    <li class="Espace_Slash">
                      /
                    </li>
                    <li v-on:click="setSelect('social')">
                      Réseaux Sociaux
                    </li>
                    <li class="Espace_Slash">
                      /
                    </li>
                    <li v-on:click="setSelect('materiel')">
                      Matériel
                    </li> #}
            </ul>
        </div>

        {# <div class="cards">
          {% set counter = 0 %}
          {% for i in  counter..11 %}
          <img class="card" src={{asset("images/projets/Projet.jpg")}} alt="Bandeau" id="card-{{ counter }}">
           {% set counter = counter + 1 %}
           {% endfor %}
        </div> #}

        <div id="Integrale_Image">
            <a class="card" v-bind:href="'/projets/' + projet.slug + - + projet.id" v-for="(projet,index) in projets"><img alt="Bandeau" class="Images_Projet" v-bind:src="projet.miniature"><div class="Projet_hover" v-bind:class="hover_select(projet.categorie)">
                    <div class="Projet_hover_border"></div>
                </div>
            </a>
        </div>
    </div>


{% endblock %}
{% block js %}
    <script crossorigin="anonymous" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{{asset('js/vue.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script src="{{asset('js/get-project.js')}}"></script>
    <script src="{{asset('js/flip.js')}}"></script>
{% endblock %}
