{% extends 'base.html.twig' %}
{% block title %}Projet ID{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/swiper.min.css') }}">
<link type="text/css" rel="stylesheet" href={{asset("css/lecture_projet.css")}} />
{% endblock %}
{% block body%}

<img id="Bandeau" src={{asset("images/projets/faeriths_banniere.jpg")}} alt="Bandeau">

<div id="Partie_Haute">
  <div id="Partie_Haute_Gauche">
    <a href="{{ path('projets') }}"><i class="fas fa-th-large" aria-hidden></i></a>
    </div>
  <div id="Partie_Haute_Centre">
    <i class="far fa-angle-left icone-awesome" aria-hidden></i>
    <h1>{{ project.title }}</h1>
    <i class="far fa-angle-right icone-awesome" aria-hidden></i>
    </div>
    <div id="Partie_Haute_Droite">
    {% if project.URLSite %}
      <a href="project.URLSite" target="_blank"><h2 id="Bouton_Visite">VISITER LE SITE</h2></a>
      {% endif %}
      </div>
</div>

<div id="Bandeau_Information">
  <div id="Integrale_Information">
    <div id="Information_Gauche">
      <h3 id="Client">Client :{{ project.client }}</h3>
      <h3 id="Categorie">Catégorie :&nbsp<a href="{{ path('projets') }}">{{ project.categorie }}</a></h3>
      </div>
    <div id="Information_Droite">
      <h3 id="Date">Date :{{ project.date }}</h3>
      <div id="Technologies">
        <h3>Technologies utilisées :</h3>
      {{  project.techno }}
        </div>
      </div>
    </div>
  </div>

  <div id="Description_Integrale">
    <h4>Description :</h4>
    <p>
    {{  project.description }}
      </p>

<div id="Apercu">
        <!-- Swiper -->
        <div class="button-prev"><i class="fas fa-arrow-circle-left" aria-hidden></i></div>
        <div class="swiper-container">

            <div class="swiper-wrapper">
                <div class="swiper-slide"><img id="myImg" src={{asset("images/projets/fas1.jpg")}} alt="Aperçu Faeriths"></div>
                <div class="swiper-slide"><img src={{asset("images/projets/fas2.jpg")}} alt="Aperçu Faeriths"></div>
                <div class="swiper-slide"><img src={{asset("images/projets/fas3.jpg")}} alt="Aperçu Faeriths"></div>
                <div class="swiper-slide">Slide 4</div>
                <div class="swiper-slide">Slide 5</div>
                <div class="swiper-slide">Slide 6</div>
                <div class="swiper-slide">Slide 7</div>
                <div class="swiper-slide">Slide 8</div>
                <div class="swiper-slide">Slide 9</div>
                <div class="swiper-slide">Slide 10</div>
            </div>
            <!-- Add Arrows -->

        </div>
        <div class="button-next"><i class="fas fa-arrow-circle-right" aria-hidden></i></div>
        </div>
    </div>
    <div id="myModal" class="modal">

      <!-- The Close Button -->
      <span class="close">&times;</span>

      <!-- Modal Content (The Image) -->
      <img class="myImgZoom" id="img01" src={{asset("images/projets/fas1.jpg")}} alt="Aperçu Faeriths">

      <!-- Modal Caption (Image Text) -->
      <div class="caption" id="caption1"></div>
    </div>


{% endblock %}

{% block js %}

  <script type="text/javascript" src="../js/swiper.min.js"></script>

<!-- Initialize Swiper -->
<script>
var swiper = new Swiper('.swiper-container', {
    nextButton: '.button-next',
    prevButton: '.button-prev',
    slidesPerView: 3,
    paginationClickable: false,
    spaceBetween: 33,
    loop: true
});
</script>

<script>
  // Get the modal
  var modal = document.getElementById("myModal");

  // Get the image and insert it inside the modal - use its "alt" text as a caption
  var img = document.getElementById("myImg");
  var modalImg = document.getElementById("img01");
  var captionText = document.getElementById("caption1");

  img.onclick = function(){
    modal.style.display = "block";
    modalImg.src = this.src;
    captionText.innerHTML = this.alt;
  }

  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];

  // When the user clicks on <span> (x), close the modal
  span.onclick = function() {
    modal.style.display = "none";
  }
  </script>

{% endblock %}
