{% extends 'base.html.twig' %}
{% block title %}Réseaux Sociaux{% endblock %}
{% block stylesheets %}
<link type="text/css" rel="stylesheet" href={{asset("css/services_social.css")}} />{% endblock %}
{% block body%}


<img id="Bandeau" src={{asset("images/Background_Service_Social.jpg")}} alt="Bandeau">

<div id="Partie_Haute">
  <div id="Partie_Sup">
    <a href="{{ path('services_web') }}"><h1>Site Web</h1></a>
    <a href="{{ path('services_audiovisuel') }}"><h1>Audiovisuel</h1></a>
    <a href="#"><h1 id="Selection">Réseaux Sociaux</h1></a>
    <a href="{{ path('services_materiel') }}"><h1>Matériel</h1></a>
    </div>
    <div id="Partie_Basse">
      <a href="https://forms.gle/tsz4FUUNJ8FZy9JS9" target="_blank">
      <div id="Vide"></div>
      <h2>REMPLIR LE FORMULAIRE DE DEVIS GRATUITEMENT</h2>
      <i class="far fa-arrow-right" aria-hidden></i>
      </div>
    </a>
  </div>

  <div id="Argument_Bandeau">
    <div id="Argument">
      <h3>L'IMPORTANCE DES RÉSEAUX SOCIAUX</h3>
      <p>
        Les réseaux sociaux sont devenus un élément incontournable dans une bonne communication numérique. Selon votre activité, un réseau social sera plus efficace qu'un autre. Notre objectif est de vous proposer les meilleurs réseaux sociaux pour votre activité et d'en exploiter leurs pleines capacités.
        </p>
      </div>
    </div>

    <div id="Categorie">

<div class="Redimension">
      <div class="Section_Reseaux">
        <h4>CHIFFRES CLÉS</h4>
        </div>
        <div class="Un_Reseau">
        <p>
          Il y a 3,5 milliards personnes sur les réseaux sociaux dans le monde (45% de la population).
          <br />
  58% des Français sont inscrits sur au moins un réseau social.
  <br />
  En moyenne, on passe 1H17 par jour sur les réseaux sociaux.
          </p>
            </div>
            </div>


<div class="Background_Gris">
<div class="Redimension">
      <div class="Section_Reseaux">
        <h4>RÉSEAUX GÉNÉRALISTES</h4>
        </div>
        <div class="Un_Reseau">
          <i class="fab fa-facebook" aria-hidden></i>
          <p>
            <span class="Mettre_Valeur">Facebook :</span> Avec 38 millions d'utilisateurs actifs en France, Facebook permet de maintenir un lien fort entre votre activité et vos clients. Une bonne gestion de votre page vous fera gagner en visibilité et satisfera votre clientèle.
            </p>
          </div>
          <div class="Un_Reseau">
            <i class="fab fa-twitter" aria-hidden></i>
            <p>
              <span class="Mettre_Valeur">Twitter :</span> Avec ses 4,27 millions visiteurs uniques par jour en France, Twitter est un bon moyen pour communiquer rapidement avec votre communauté.
              </p>
          </div>
          </div>
          </div>

<div class="Redimension">
        <div class="Section_Reseaux">
          <h4>RÉSEAUX PROFESSIONNELS</h4>
          </div>
          <div class="Un_Reseau">
          <i class="fab fa-linkedin" aria-hidden></i>
          <p>
            <span class="Mettre_Valeur">LinkedIn :</span> Réseau social professionnel comptant 610 millions d’inscrit (dont 16 millions en France) vous permettant de faire grossir votre réseau, trouver du travail, développer vos projets, ...
            </p>
        </div>
      </div>

<div class="Background_Gris">
<div class="Redimension">
          <div class="Section_Reseaux">
            <h4>RÉSEAUX POUR LA PHOTO</h4>
            </div>
            <div class="Un_Reseau">
              <i class="fab fa-instagram" aria-hidden></i>
              <p>
                <span class="Mettre_Valeur">Instagram :</span> Site web et application de partage de photos et de vidéos comptabilisant 1 milliards d’utilisateurs actifs par mois dans le monde et 500 millions d’utilisateurs actifs chaque jour.
                </p>
            </div>
            <div class="Un_Reseau">
              <i class="fab fa-flickr" aria-hidden></i>
              <p>
                <span class="Mettre_Valeur">Flickr :</span> Site Web de partage de photo, populaire chez les amateurs ainsi que chez les professionnels.
                </p>
            </div>
            <div class="Un_Reseau">
              <i class="fab fa-500px" aria-hidden></i>
              <p>
                <span class="Mettre_Valeur">500px :</span> Rejoignez une large communauté de photographe et récoltez des avis en partageant vos meilleurs clichés.
                </p>
              </div>
              </div>
              </div>

<div class="Redimension">
            <div class="Section_Reseaux">
              <h4>RÉSEAUX POUR LA VIDÉO</h4>
              </div>
              <div class="Un_Reseau">
                <i class="fab fa-youtube" aria-hidden></i>
                <p>
                  <span class="Mettre_Valeur">YouTube :</span>
Site web d'hébergement de vidéos avec une communauté de 1,9 milliard d’utilisateurs actifs par mois et réalisant 45,1 millions de visites uniques par mois en France.
                  </p>
              </div>
              <div class="Un_Reseau">
                <i class="fab fa-twitch" aria-hidden></i>
                <p>
                  <span class="Mettre_Valeur">Twitch :</span> Service de streaming et de VOD focalisé sur le jeu vidéo, l'e-sport, le contenu créatif, ...
                  </p>
              </div>
              <div class="Un_Reseau">
                <i class="fab fa-vimeo-v" aria-hidden></i>
                <p>
                  <span class="Mettre_Valeur">Vimeo :</span> Site communautaire de partage et visionnage de vidéos.
                  </p>
              </div>
              </div>

      </div>


{% endblock %}
