{% extends 'base.html.twig' %}
{% block title %}Services{% endblock %}
{% block stylesheets %}<link type="text/css" rel="stylesheet" href={{asset("css/services.css")}} />{% endblock %}
{% block body%}
<div id="Services_full">
<a href="#"><img class="service_full_pic" src={{asset("images/Services-Web.jpg")}} alt="Service web"><p>Site&nbsp;web</p><div class="Projet_hover Projet_hover_web"></div></a>
<a href="#"><img class="service_full_pic" src={{asset("images/Services-Audiovisuel.jpg")}} alt="Service audiovisuel"><p>Audiovisuel</p><div class="Projet_hover Projet_hover_audiovisuel"></div></a>
<a href="#"><img class="service_full_pic" src={{asset("images/Services-Reseaux.jpg")}} alt="Service réseaux&nbsp;sociaux"><p>Réseaux sociaux</p><div class="Projet_hover Projet_hover_social"></div></a>
<a href="#"><img class="service_full_pic" src={{asset("images/Services-Materiel.jpg")}} alt="Service matériel"><p>Matériel</p><div class="Projet_hover Projet_hover_materiel"></div></a>
</div>

<div id="Services_mob">
<a href="#"><img class="service_mob_pic" src={{asset("images/Accueil-Site-Web.jpg")}} alt="Service web"></a>
<a href="#"><img class="service_mob_pic" src={{asset("images/Accueil-Audiovisual.jpg")}} alt="Service audiovisuel"></a>
<a href="#"><img class="service_mob_pic" src={{asset("images/Accueil-Social.jpg")}} alt="Service réseaux sociaux"></a>
<a href="#"><img class="service_mob_pic" src={{asset("images/Accueil-Materiel.jpg")}} alt="Service matériel"></a>
</div>

{% endblock %}
