{% extends 'base.html.twig' %}
{% block title %}Audiovisuel{% endblock %}
{% block stylesheets %}
<link type="text/css" rel="stylesheet" href={{asset("css/services_audiovisuel.css")}} />{% endblock %}
{% block body%}


<img id="Bandeau" src={{asset("images/Background_Service_Audiovisuel.jpg")}} alt="Bandeau">

<div id="Partie_Haute">
  <div id="Partie_Sup">
    <a href="{{ path('services_web') }}">
      <h1>Site Web</h1>
    </a>
    <a href="#">
      <h1 id="Selection">Audiovisuel</h1>
    </a>
    <a href="{{ path('services_social') }}">
      <h1>Réseaux Sociaux</h1>
    </a>
    <a href="{{ path('services_materiel') }}">
      <h1>Matériel</h1>
    </a>
  </div>
  <div id="Partie_Basse">
    <a href="https://forms.gle/Z59arfjsAX4rembR9" target="_blank">
      <div id="Vide"></div>
      <h2>REMPLIR LE FORMULAIRE DE DEVIS GRATUITEMENT</h2>
      <i class="far fa-arrow-right" aria-hidden></i>
  </div>
  </a>
</div>

<div id="Argument_Bandeau">
  <div id="Argument">
    <h3>L'APPORT DE L'AUDIOVISUEL</h3>
    <p>
      Dans de nombreux domaines, la vidéo a dépassé le format écrit en terme d’audience. YouTube est utilisé par 1,9 milliard d’utilisateurs mensuellement, Facebook met en avant le contenu vidéo, la diffusion en direct s’est démocratisée, ...
      Mettez en avant votre expertise par le biais de la vidéo. Nous vous proposons la réalisation de vidéo pour présenter votre activité et vos produits / services.
    </p>
  </div>
</div>

<div id="Categorie">

  <div class="Redimension">
    <div class="Un_Reseau">
      <div class="Icone_Centre">
      <i class="fas fa-video" aria-hidden></i>
        </div>
      <p>
        <span class="Mettre_Valeur">Présentation :</span> Vidéo présentant votre entreprise, association, projet personnel, …
      </p>
    </div>
  </div>


  <div class="Background_Gris">
    <div class="Redimension">
      <div class="Un_Reseau">
        <div class="Icone_Centre">
        <i class="fas fa-microphone" aria-hidden></i>
          </div>
        <p>
          <span class="Mettre_Valeur">Interview :</span> Interview des acteurs clés de votre activité.
        </p>
      </div>
    </div>
  </div>

  <div class="Redimension">
    <div class="Un_Reseau">
      <div class="Icone_Centre">
      <i class="fas fa-chalkboard-teacher" aria-hidden></i>
        </div>
      <p>
        <span class="Mettre_Valeur">Formations :</span> Partagez vos connaissances via une formation au format vidéo et engranger des revenus !
      </p>
    </div>
  </div>

  <div class="Background_Gris">
    <div class="Redimension">
      <div class="Un_Reseau">
        <div class="Icone_Centre">
        <i class="fas fa-street-view" aria-hidden></i>
          </div>
        <p>
          <span class="Mettre_Valeur">Google Street View :</span> Faites visiter virtuellement votre établissement pour donner une bonne image de votre activité. Les consommateurs ont recours à une recherche cartographique dans 44% des cas
          lorsqu'ils recherchent un établissement et 41% de ces recherches débouchent sur une visite sur place.
        </p>
      </div>
    </div>
  </div>

  <div class="Redimension">
    <div class="Un_Reseau">
      <div class="Icone_Centre">
      <i class="fas fa-cogs" aria-hidden></i>
        </div>
      <p>
        <span class="Mettre_Valeur">Making-Of :</span>
        Montrez tous les procédés de fabrication de vos produits.
      </p>
    </div>
  </div>

<div class="Background_Gris">
  <div class="Redimension">
    <div class="Un_Reseau">
      <div class="Icone_Centre">
      <i class="fas fa-broadcast-tower" aria-hidden></i>
        </div>
      <p>
        <span class="Mettre_Valeur">Diffusion en Direct :</span>
        Diffusion public ou privé en direct de conférence, réunion, événement, jeux vidéo, sur la plaforme de votre choix (Facebook, YouTube, Twitch …).
      </p>
    </div>
  </div>
</div>

  <div class="Redimension">
    <div class="Un_Reseau">
      <div class="Icone_Centre">
      <i class="fas fa-building" aria-hidden></i>
        </div>
      <p>
        <span class="Mettre_Valeur">Captation d’événement :</span>
        Fête d'entreprise, Réunion d’entreprise, Ouverture d’une structure, ...
      </p>
    </div>
  </div>

<div class="Background_Gris">
  <div class="Redimension">
    <div class="Un_Reseau">
      <div class="Icone_Centre">
      <i class="fab fa-youtube" aria-hidden></i>
        </div>
      <p>
        <span class="Mettre_Valeur">Contenu Web :</span>
        Diffusion sur la plateforme vidéo de votre choix (YouTube, Vimeo, ...) de votre projet créatif.
      </p>
    </div>
  </div>
</div>

</div>


{% endblock %}
