{% extends 'base.html.twig' %}
{% block title %}Site Web{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/swiper.min.css') }}">
<link type="text/css" rel="stylesheet" href={{asset("css/services_web.css")}} />{% endblock %}
{% block body%}


<img id="Bandeau" src={{asset("images/Background_Service_Web.jpg")}} alt="Bandeau">

<div id="Partie_Haute">
  <div id="Partie_Sup">
    <a href="#"><h1 id="Selection">Site Web</h1></a>
    <a href="{{ path('services_audiovisuel') }}"><h1>Audiovisuel</h1></a>
    <a href="{{ path('services_social') }}"><h1>Réseaux Sociaux</h1></a>
    <a href="{{ path('services_materiel') }}"><h1>Matériel</h1></a>
    </div>
    <div id="Partie_Basse">
      <a href="https://forms.gle/HF3STXjuG1yTeAFt7" target="_blank">
      <div id="Vide"></div>
      <h2>REMPLIR LE FORMULAIRE DE DEVIS GRATUITEMENT</h2>
      <i class="far fa-arrow-right" aria-hidden></i>

    </a>
      </div>
  </div>

    <div class='container'>
      <div class="swiper-container">
        <div class="swiper-wrapper">


    <div class="swiper-slide slide0 toggle" data-hash="slide0">
      <div id="Argument_Bandeau">
        <div id="Argument">
          <h3>POURQUOI AVOIR UN SITE INTERNET ?</h3>
          <p>
            Votre site internet est une part importante de votre identité numérique. Gage de sérieux et de professionnalisme, il vous permettra d'afficher toutes les informations essentielles de votre activité aux yeux de tous. Notre but est de vous proposer un site web moderne qui vous correspond ainsi qu’à vos visiteurs.
          </p>
        </div>
      </div>

      <div id="Categorie">
        <div id="Cat_1"  class="toggle" data-toggle='ux' onclick="ux();"
          <i class="fas fa-sitemap"></i>
          <h4>Expérience Utilisateur (UX Design)</h4>
        </div>
        <div id="Cat_2"  class="toggle"  data-toggle='responsive' onclick="responsive();">
            <i class="fas fa-expand-arrows-alt"></i>
            <h4>Responsive</h4>
        </div>
        <div id="Cat_3"  class="toggle"  data-toggle='corespond' onclick="correspond();">
          <i class="fas fa-user-check"></i>
          <h4>Qui vous correspond</h4>
        </div>
        <div id="Cat_4"  class="toggle"  data-toggle='ui' onclick="ui();">
          <i class="fas fa-paint-brush-alt"></i>
          <h4>Interface Utilisateur (UI Design)</h4>
        </div>
        <div id="Cat_5"  class="toggle"  data-toggle='seo' onclick="referencement();">
          <i class="far fa-chart-line"></i>
          <h4>Référencement et Publicité</h4>
        </div>
        <div id="Cat_6"  class="toggle"  data-toggle='maintenance' onclick="maintenance();">
          <i class="fas fa-wrench"></i>
          <h4>Maintenance</h4>
        </div>
      </div>
    </div>

                <div class="swiper-slide slide1" data-hash="slide1">
                <div class="Partie_Haute_Alt" id="Partie_Haute_1">
                  <div class="Partie_Haute_Gauche_Alt">
                    <i class="fas fa-th-large" aria-hidden onclick="index();"></i>
                    </div>
                  <div class="Partie_Haute_Centre_Alt">
                    <i class="far fa-angle-left icone-awesome button-prev" aria-hidden></i>
                    <div class="Titre_Menu">
                      <i class="fas fa-sitemap"></i>
                      <h1>Expérience Utilisateur (UX Design)</h1>
                      </div>
                    <i class="far fa-angle-right icone-awesome button-next" aria-hidden></i>
                    </div>
                    <div class="Partie_Haute_Droite_Alt">
                      </div>
                </div>

                <div id="Categorie_2">

                  <div class="Redimension">
                    <div class="Un_Reseau">
                      <p>
                        La réalisation de l’UX Design permet de rendre votre site web plus accessible, intuitif, efficace, …
L’objectif est d’avoir un site adapté à votre activité, correspondant à vos besoins et à ceux de l’utilisateur.
                      </p>
                    </div>
                  </div>

                  <div class="Background_Gris">
                    <div class="Redimension">
                      <div class="Un_Reseau">
                        <div class="Icone_Centre">
                        <i class="fas fa-sitemap"></i>
                          </div>
                        <p>
                          <span class="Mettre_Valeur">Réalisation de Maquettes :</span> Création du squelette du site Internet ainsi que son arborescence. Choix du placement des différents éléments. Validation en aval de la création du design et de la programmation.
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="Redimension">
                    <div class="Un_Reseau">
                      <div class="Icone_Centre">
                      <i class="fas fa-poll-h" aria-hidden></i>
                        </div>
                      <p>
                        <span class="Mettre_Valeur">Stratégie :</span> Réalisation de persona, sondages, tests utilisateurs, ...
                      </p>
                    </div>
                  </div>

                  <div class="Background_Gris">
                    <div class="Redimension">
                      <div class="Un_Reseau">
                        <div class="Icone_Centre">
                        <i class="fas fa-mouse-pointer" aria-hidden></i>
                          </div>
                        <p>
                          <span class="Mettre_Valeur">Érgonomique :</span> Rendre votre navigation intuitive avec l’utilisation de la <a href="https://fr.wikipedia.org/wiki/Règle_des_trois_clics" target="_blank">règle des trois clics</a> (variable en fonction des cas), la mise en avant de vos informations importantes via une mise en page adaptée, des polices d’écritures lisibles, une interface sobre et élégante, des menus accessibles, …
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="Redimension">
                    <div class="Un_Reseau">
                      <div class="Icone_Centre">
                      <i class="fas fa-eye" aria-hidden></i>
                        </div>
                      <p>
                        <span class="Mettre_Valeur">Booster votre audience :</span>
                        Notre expertise en UX Design vous permettra d’augmenter l’attractivité de votre site ce qui augmentera le trafic et permettra l'accroissement de la durée de visite. Ces paramètres vous permettront d’obtenir un meilleur référencement sur les moteurs de recherche et un meilleur ROI (Return on Investment).
                      </p>
                    </div>
                  </div>

                </div>
                </div>


                <div class="swiper-slide slide2" data-hash="slide2">
                <div class="Partie_Haute_Alt" id="Partie_Haute_2">
                  <div class="Partie_Haute_Gauche_Alt">
                    <i class="fas fa-th-large" aria-hidden onclick="index();"></i>
                    </div>
                  <div class="Partie_Haute_Centre_Alt">
                    <i class="far fa-angle-left icone-awesome button-prev" aria-hidden></i>
                    <div class="Titre_Menu">
                      <i class="fas fa-expand-arrows-alt"></i>
                      <h1>Responsive</h1>
                      </div>
                    <i class="far fa-angle-right icone-awesome button-next" aria-hidden></i>
                    </div>
                    <div class="Partie_Haute_Droite_Alt">
                      </div>
                </div>

                <div id="Categorie_3">

                  <div class="Redimension">
                    <div class="Un_Reseau">
                      <p>
                      	L’usage d’Internet est aujourd’hui multi-support, c’est pour cela que votre site web doit s’adapter à tous les périphériques.
                      </p>
                    </div>
                  </div>

                  <div class="Background_Gris">
                    <div class="Redimension">
                      <div class="Un_Reseau">
                        <div class="Icone_Centre">
                        <i class="fas fa-laptop"></i>
                          </div>
                        <p>
                          <span class="Mettre_Valeur">PC :</span> 81% des français utilisent un ordinateur.
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="Redimension">
                    <div class="Un_Reseau">
                      <div class="Icone_Centre">
                      <i class="fas fa-tv" aria-hidden></i>
                        </div>
                      <p>
                        <span class="Mettre_Valeur">TV :</span> Plus d’un foyer sur deux disposent d’un téléviseur connecté à internet.
                      </p>
                    </div>
                  </div>

                  <div class="Background_Gris">
                    <div class="Redimension">
                      <div class="Un_Reseau">
                        <div class="Icone_Centre">
                        <i class="fas fa-tablet-android-alt" aria-hidden></i>
                          </div>
                        <p>
                          <span class="Mettre_Valeur">Tablette :</span> 41% possèdent une tablette.
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="Redimension">
                    <div class="Un_Reseau">
                      <div class="Icone_Centre">
                      <i class="fas fa-mobile-android-alt" aria-hidden></i>
                        </div>
                      <p>
                        <span class="Mettre_Valeur">Smartphone :</span>
                        93% ont un mobile dont 71% un smartphone.<br />En moyenne dans le monde, on passe 75 minutes par jour sur l’Internet mobile et 48% de l’usage Internet est sur mobile.
                      </p>
                    </div>
                  </div>

                </div>
                </div>

                <div class="swiper-slide slide3" data-hash="slide3">
                <div class="Partie_Haute_Alt" id="Partie_Haute_3">
                  <div class="Partie_Haute_Gauche_Alt">
                    <i class="fas fa-th-large" aria-hidden onclick="index();"></i>
                    </div>
                  <div class="Partie_Haute_Centre_Alt">
                    <i class="far fa-angle-left icone-awesome button-prev" aria-hidden></i>
                    <div class="Titre_Menu">
                      <i class="fas fa-user-check"></i>
                      <h1>Qui vous correspond</h1>
                      </div>
                    <i class="far fa-angle-right icone-awesome button-next" aria-hidden></i>
                    </div>
                    <div class="Partie_Haute_Droite_Alt">
                      </div>
                </div>

                <div id="Categorie_4">

                  <div class="Redimension">
                    <div class="Un_Reseau">
                      <p>
                        Votre site internet doit être adapté selon votre objectif.
                      </p>
                    </div>
                  </div>

                  <div class="Background_Gris">
                    <div class="Redimension">
                      <div class="Un_Reseau">
                        <div class="Icone_Centre">
                        <i class="fas fa-user-circle"></i>
                          </div>
                        <p>
                          <span class="Mettre_Valeur">Vitrine/Portfolio :</span> Affichez votre activité aux yeux de tous avec un site centralisant tous vos projets, services, compétences, réseaux sociaux, moyens de vous contacter, ...
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="Redimension">
                    <div class="Un_Reseau">
                      <div class="Icone_Centre">
                      <i class="far fa-shopping-cart" aria-hidden></i>
                        </div>
                      <p>
                        <span class="Mettre_Valeur">E-Commerce :</span> Proposez vos produits et services en vente sur votre site boutique. Disposer d’une e-boutique permettra l’achat 24H/7j automatisé à distance ainsi que l’acquisition de nouveaux clients. 87% des internautes Français ont visité un site de vente en ligne et 71% ont effectué au moins un achat en ligne en 2018.
                      </p>
                    </div>
                  </div>

                  <div class="Background_Gris">
                    <div class="Redimension">
                      <div class="Un_Reseau">
                        <div class="Icone_Centre">
                        <i class="fas fa-rss" aria-hidden></i>
                          </div>
                        <p>
                          <span class="Mettre_Valeur">Blog :</span> Partagez vos billets d’humeurs, carnet de voyage, test de produits, ...
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="Redimension">
                    <div class="Un_Reseau">
                      <div class="Icone_Centre">
                      <i class="far fa-code" aria-hidden></i>
                        </div>
                      <p>
                        <span class="Mettre_Valeur">Sur-Mesure :</span>
                        Site web entièrement personnalisé selon l’envergure de votre projet, avec des fonctionnalités adaptées.
                      </p>
                    </div>
                  </div>

                </div>
                </div>

                <div class="swiper-slide slide4" data-hash="slide4">
                <div class="Partie_Haute_Alt" id="Partie_Haute_4">
                  <div class="Partie_Haute_Gauche_Alt">
                    <i class="fas fa-th-large" aria-hidden onclick="index();"></i>
                    </div>
                  <div class="Partie_Haute_Centre_Alt">
                    <i class="far fa-angle-left icone-awesome button-prev" aria-hidden></i>
                    <div class="Titre_Menu">
                      <i class="fas fa-paint-brush-alt"></i>
                      <h1>Interface Utilisateur (UI Design)</h1>
                      </div>
                    <i class="far fa-angle-right icone-awesome button-next" aria-hidden></i>
                    </div>
                    <div class="Partie_Haute_Droite_Alt">
                      </div>
                </div>

                <div id="Categorie_5">

                  <div class="Redimension">
                    <div class="Un_Reseau">
                      <p>
  L’UI Design est la partie visible de l’iceberg dans la création d’un site web. Son objectif est de rendre esthétique et attractif le travail réalisé par l’UX Designer.
                      </p>
                    </div>
                  </div>

                  <div class="Background_Gris">
                    <div class="Redimension">
                      <div class="Un_Reseau">
                        <div class="Icone_Centre">
                        <i class="fas fa-palette"></i>
                          </div>
                        <p>
                          <span class="Mettre_Valeur">Choix des couleurs :</span> Chaque couleur a une signification précise et peut varier selon les différentes cultures dans le monde. Chaque domaine a une couleur qui peut lui être attribué. Le vert peut par exemple représenter la nature, l’écologie, l’aventure alors que le bleu va représenter un univers de technologie/informatique et d’entreprise.
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="Redimension">
                    <div class="Un_Reseau">
                      <div class="Icone_Centre">
                      <i class="far fa-font" aria-hidden></i>
                        </div>
                      <p>
                        <span class="Mettre_Valeur">Choix de la typographie :</span> Pour une bonne lisibilité sur votre site, vous devez avoir en général au maximum 3 polices d’écritures différentes. Ces polices sont choisies pour leur complémentarité ainsi qu’en lien avec votre activité.
                      </p>
                    </div>
                  </div>

                  <div class="Background_Gris">
                    <div class="Redimension">
                      <div class="Un_Reseau">
                        <div class="Icone_Centre">
                        <i class="fab fa-font-awesome" aria-hidden></i>
                          </div>
                        <p>
                          <span class="Mettre_Valeur">Choix des icônes :</span> Le choix d’un bon pack d’icônes vous permettra de faciliter la navigation sur votre site et de donner une identité plus marqué à celui-ci.
                        </p>
                      </div>
                    </div>
                  </div>

                </div>
                </div>

                <div class="swiper-slide slide6" data-hash="slide6">
                <div class="Partie_Haute_Alt" id="Partie_Haute_5">
                  <div class="Partie_Haute_Gauche_Alt">
                    <i class="fas fa-th-large" aria-hidden onclick="index();"></i>
                    </div>
                  <div class="Partie_Haute_Centre_Alt">
                    <i class="far fa-angle-left icone-awesome button-prev" aria-hidden></i>
                    <div class="Titre_Menu">
                      <i class="far fa-chart-line"></i>
                      <h1>Référencement et Publicité</h1>
                      </div>
                    <i class="far fa-angle-right icone-awesome button-next" aria-hidden></i>
                    </div>
                    <div class="Partie_Haute_Droite_Alt">
                      </div>
                </div>

                <div id="Categorie_6">

                  <div class="Redimension">
                    <div class="Un_Reseau">
                      <p>
Une fois votre site web en ligne, l’objectif est qu’il soit le plus visité possible. Il faut donc passer par la SEO (Search Engine Optimization) et/ou la SEA (Search Engine Advertising).
                      </p>
                    </div>
                  </div>

                  <div class="Background_Gris">
                    <div class="Redimension">
                      <div class="Un_Reseau">
                        <div class="Icone_Centre">
                        <i class="fas fa-search"></i>
                          </div>
                        <p>
                          <span class="Mettre_Valeur">Optimisation du référencement de votre site :</span> Votre site dans les premières pages sur Google. Optimisation du code de votre site pour les moteurs de recherche.
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="Redimension">
                    <div class="Un_Reseau">
                      <div class="Icone_Centre">
                      <i class="fas fa-bullhorn" aria-hidden></i>
                        </div>
                      <p>
                        <span class="Mettre_Valeur">Diffusion d'annonces :</span> Réalisation d’une campagne de pub Adwords afin d’augmenter l’audience de votre site web en ciblant géographiquement et démographiquement votre public.
                      </p>
                    </div>
                  </div>

                  <div class="Background_Gris">
                    <div class="Redimension">
                      <div class="Un_Reseau">
                        <div class="Icone_Centre">
                        <i class="far fa-image" aria-hidden></i>
                          </div>
                        <p>
                          <span class="Mettre_Valeur">Ajout de pub sur votre site :</span> Gagnez de l’argent en monétisant des espaces publicitaires sur votre site web grâce à Google Adsense.
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="Redimension">
                    <div class="Un_Reseau">
                      <div class="Icone_Centre">
                      <i class="far fa-envelope" aria-hidden></i>
                        </div>
                      <p>
                        <span class="Mettre_Valeur">Newsletter :</span> Tenez votre communauté au courant de l’actualité de votre activité grâce à la publication d’une Newsletter.
                      </p>
                    </div>
                  </div>

                  <div class="Background_Gris">
                    <div class="Redimension">
                      <div class="Un_Reseau">
                        <div class="Icone_Centre">
                        <i class="fas fa-map-marker-alt" aria-hidden></i>
                          </div>
                        <p>
                          <span class="Mettre_Valeur">Votre fiche d’établissement en ligne :</span> Grâce à Google My Business, aidez vos futurs clients à vous trouver et connaître l’ensemble de vos informations pratiques.
                        </p>
                      </div>
                    </div>
                  </div>

                </div>
                </div>

                <div class="swiper-slide slide5" data-hash="slide5">
                <div class="Partie_Haute_Alt" id="Partie_Haute_6">
                  <div class="Partie_Haute_Gauche_Alt">
                    <i class="fas fa-th-large" aria-hidden onclick="index();"></i>
                    </div>
                  <div class="Partie_Haute_Centre_Alt">
                    <i class="far fa-angle-left icone-awesome button-prev" aria-hidden></i>
                    <div class="Titre_Menu">
                      <i class="fas fa-wrench"></i>
                      <h1>Maintenance</h1>
                      </div>
                    <i class="far fa-angle-right icone-awesome button-next" aria-hidden></i>
                    </div>
                    <div class="Partie_Haute_Droite_Alt">
                      </div>
                </div>

                <div id="Categorie_7">

                  <div class="Redimension">
                    <div class="Un_Reseau">
                      <p>
                        Pour mettre votre site en ligne, vous devrez le placer sur un serveur et vous procurer un nom de domaine.
                        <br />Le pack maintenance se compose ainsi :
                      </p>
                    </div>
                  </div>

                  <div class="Background_Gris">
                    <div class="Redimension">
                      <div class="Un_Reseau">
                        <div class="Icone_Centre">
                        <i class="fas fa-headset"></i>
                          </div>
                        <p>
                          <span class="Mettre_Valeur">SAV :</span> prise en charge complète de vos problèmes technique sous 48h.
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="Redimension">
                    <div class="Un_Reseau">
                      <div class="Icone_Centre">
                      <i class="fas fa-server" aria-hidden></i>
                        </div>
                      <p>
                        <span class="Mettre_Valeur">Hébergement :</span> Renouvellement de votre hébergeur Web et de votre nom de domaine une fois leur abonnement expiré.
                      </p>
                    </div>
                  </div>

                  <div class="Background_Gris">
                    <div class="Redimension">
                      <div class="Un_Reseau">
                        <div class="Icone_Centre">
                        <i class="far fa-chart-line" aria-hidden></i>
                          </div>
                        <p>
                          <span class="Mettre_Valeur">SEO :</span> Accompagnement du référencement de votre site avec rapport de statistique.
                        </p>
                      </div>
                    </div>
                  </div>

                </div>
                </div>

              </div>
            </div>
          </div>

{% endblock %}

{% block js %}

    <script src="../js/swiper.min.js" type="text/javascript"></script>

    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper('.swiper-container', {
            nextButton: '.button-next',
            prevButton: '.button-prev',
            slidesPerView: 1,
            paginationClickable: false,
            spaceBetween: 33,
            loop: true
        });
    </script>

    <script language="JavaScript">
      function index() {
        swiper.slideTo($('.slide0').index(), 1000, false);
      }
      function ux() {
        swiper.slideTo($('.slide1').index(), 1000, false);
      }
      function responsive() {
        swiper.slideTo($('.slide2').index(), 1000, false);
      }
      function correspond() {
        swiper.slideTo($('.slide3').index(), 1000, false);
      }
      function ui() {
        swiper.slideTo($('.slide4').index(), 1000, false);
      }
      function referencement() {
        swiper.slideTo($('.slide6').index(), 1000, false);
      }
      function maintenance() {
        swiper.slideTo($('.slide5').index(), 1000, false);
      }
    </script>

{% endblock %}
