{% extends 'base.html.twig' %}
{% block title %}Services{% endblock %}
{% block stylesheets %}<link type="text/css" rel="stylesheet" href={{asset("css/services.css")}} />{% endblock %}
{% block body%}
<div id="Services_full">
<a href="{{ path('services_web') }}" class="Bloc_web"><img class="service_full_pic" src={{asset("images/Services-Web.jpg")}} alt="Service web"><p>Site web</p><div class="Web_hover"></div></a>
<a href="{{ path('services_audiovisuel') }}" class="Bloc_audiovisuel"><img class="audiovisuel_full_pic" src={{asset("images/Services-Audiovisuel.jpg")}} alt="Service audiovisuel"><p>Audiovisuel</p><div class="Audiovisuel_hover"></div></a>
<a href="{{ path('services_social') }}" class="Bloc_Social"><img class="social_full_pic" src={{asset("images/Services-Reseaux.jpg")}} alt="Service réseaux sociaux"><p>Réseaux sociaux</p><div class="Social_hover"></div></a>
<a href="{{ path('services_materiel') }}" class="Bloc_materiel"><img class="materiel_full_pic" src={{asset("images/Services-Materiel.jpg")}} alt="Service matériel"><p>Matériel</p><div class="Materiel_hover"></div></a>
</div>

<div id="Services_mob">
<a href="{{ path('services_web') }}" class="Bloc_web"><img class="service_mob_pic" src={{asset("images/Accueil-Web.jpg")}} alt="Service web"><p>Site web</p><div class="Web_hover"></div></a>
<a href="{{ path('services_audiovisuel') }}" class="Bloc_audiovisuel"><img class="audiovisuel_mob_pic" src={{asset("images/Accueil-Audiovisuel.jpg")}} alt="Service audiovisuel"><p>Audiovisuel</p><div class="Audiovisuel_hover"></div></a>
<a href="{{ path('services_social') }}" class="Bloc_Social"><img class="social_mob_pic" src={{asset("images/Accueil-Reseaux.jpg")}} alt="Service réseaux sociaux"><p>Réseaux sociaux</p><div class="Social_hover"></div></a>
<a href="{{ path('services_materiel') }}" class="Bloc_materiel"><img class="materiel_mob_pic" src={{asset("images/Accueil-Materiel.jpg")}} alt="Service matériel"><p>Audiovisuel</p><div class="Materiel_hover"></div></a>
</div>

{% endblock %}
