{% extends 'base.html.twig' %}
{% block title %}Matériel{% endblock %}
{% block stylesheets %}
<link type="text/css" rel="stylesheet" href={{asset("css/services_materiel.css")}} />{% endblock %}
{% block body%}


<img id="Bandeau" src={{asset("images/Background_Service_Materiel.jpg")}} alt="Bandeau">

<div id="Partie_Haute">
  <div id="Partie_Sup">
    <a href="{{ path('services_web') }}"><h1>Site Web</h1></a>
    <a href="{{ path('services_audiovisuel') }}"><h1>Audiovisuel</h1></a>
    <a href="{{ path('services_social') }}"><h1>Réseaux Sociaux</h1></a>
    <a href="#"><h1 id="Selection">Matériel</h1></a>
    </div>
    <div id="Partie_Basse">
      <a href="#">
      <div id="Vide"></div>
      <h2>NOS TARIFS</h2>
      <i class="far fa-arrow-right" aria-hidden></i>
      </div>
    </a>
  </div>

  <div id="Argument_Bandeau">
    <div id="Argument">
      <h3>ÉQUIPEZ-VOUS DURABLEMENT</h3>
      <p>
        Vous voulez équiper votre entreprise ou disposer d'une bonne machine pour votre utilisation privée mais vous n'avez pas les connaissances nécessaires en composants informatiques ? Nous pouvons vous conseiller et même vous installer les ordinateurs adaptés à vos utilisations (bureautique, modélisation 3D, jeux vidéo, ...) ainsi que des espaces de stockages (NAS, Cloud, ...). Nous proposons également des services de réparation/maintenance afin d’optimiser la durée de vie de votre équipement.
        </p>
      </div>
    </div>

    <div id="Categorie">
      <div id="Cat_1">
        <i class="fas fa-desktop" aria-hidden></i>
        <h4>ORDINATEURS</h4>
        </div>
        <div id="Cat_2">
          <i class="fas fa-hdd" aria-hidden></i>
          <h4>STOCKAGE NAS</h4>
          </div>
          <div id="Cat_3">
            <i class="fas fa-wrench" aria-hidden></i>
            <h4>MAINTENANCE</h4>
            </div>


{% endblock %}
