{% extends 'base.html.twig' %}
{% block title %}Matériel - Tarif{% endblock %}
{% block stylesheets %}
<link type="text/css" rel="stylesheet" href={{asset("css/services_materiel_tarif.css")}} >{% endblock %}
{% block body%}


<img id="Bandeau" src={{asset("images/Background_Service_Materiel.jpg")}} alt="Bandeau">

<div id="Partie_Haute">
  <div id="Partie_Sup">
    <a href="{{ path('services_web') }}">
      <h1>Site Web</h1>
    </a>
    <a href="{{ path('services_audiovisuel') }}">
      <h1>Audiovisuel</h1>
    </a>
    <a href="{{ path('services_social') }}">
      <h1>Réseaux Sociaux</h1>
    </a>
    <a href="{{ path('services_materiel') }}">
      <h1 id="Selection">Matériel</h1>
    </a>
  </div>
  <div id="Partie_Basse">
    <a href="{{ path('services_materiel') }}">
      <i class="far fa-arrow-left" aria-hidden></i>
      <h2>RETOUR</h2>
      <div id="Vide"></div>
    </a>
  </div>
</div>

<div id="Categorie">

<div id="Bloc_Gauche">
  <div id="Domicile" class="background_gris">
    <i class="fas fa-home" aria-hidden></i>
    <h3>SERVICE À DOMICILE</h3>
  </div>

  <div class="Une_ligne">
    <p class="texte">
      <span class="Mettre_Valeur">Pack de démarrage :</span>Mise à jour des Drivers + Mise à jour Windows + Pack de logiciels essentiels + Antivirus + Antimalware + AntiAdwares + Optimisation
    </p>
    <p class="prix">
      65€
    </p>
  </div>

  <div class="Une_ligne background_gris">
    <p class="texte">
      <span class="Mettre_Valeur">Pack entretien :</span>Dépannage / Nettoyage / Update
    </p>
    <p class="prix">
      45€
    </p>
  </div>

  <div class="Une_ligne">
    <p class="texte">
      <span class="Mettre_Valeur">Installation / Réinstallation de votre système d'exploitation (Windows, Linux, ...)</span>
    </p>
    <p class="prix">
      80€
    </p>
  </div>

  <div class="Une_ligne background_gris">
    <p class="texte">
      <span class="Mettre_Valeur">Changement d'un composant d'un ordinateur</span>
    </p>
    <p class="prix">
      30€
    </p>
  </div>

  <div class="Une_ligne">
    <p class="texte">
      <span class="Mettre_Valeur">Installation d'un NAS</span>
    </p>
    <p class="prix">
      40€
    </p>
  </div>
  </div>

<div id="Bloc_Droit">
  <div id="Distance" class="background_gris">
    <i class="fas fa-headset" aria-hidden></i>
    <h3>SERVICE À DISTANCE</h3>
  </div>

  <div class="Une_ligne">
    <p class="texte">
      <span class="Mettre_Valeur">Pack de démarrage à distance :</span>Mise à jour des Drivers + Mise à jour Windows + Pack de logiciels essentiels + Antivirus + Antimalware + AntiAdwares + Optimisation
    </p>
    <p class="prix">
      50€
    </p>
  </div>

  <div class="Une_ligne background_gris">
    <p class="texte">
      <span class="Mettre_Valeur">Pack entretien à distance :</span>Dépannage / Nettoyage / Update
    </p>
    <p class="prix">
      30€
    </p>
  </div>

  <div class="Une_ligne">
    <p class="texte">
      <span class="Mettre_Valeur">Conseil sur le matériel :</span>Savoir quel matériel informatique se procurer
    </p>
    <p class="prix">
      25€
    </p>
  </div>

  <div class="Une_ligne background_gris">
    <p class="texte">
      <span class="Mettre_Valeur">Montage d'un Ordinateur</span>
    </p>
    <p class="prix">
      50€
    </p>
  </div>

  <div class="Une_ligne">
    <p class="texte">
      <span class="Mettre_Valeur">Conseil sur les composants + Montage d'un Ordinateur</span>
    </p>
    <p class="prix">
      60€
    </p>
  </div>
  </div>

</div>


{% endblock %}
