{% extends 'base.html.twig' %}
{% block title %}Contact{% endblock %}
{% block stylesheets %}
<link type="text/css" rel="stylesheet" href={{asset("css/contact.css")}} />
{% endblock %}
{% block body%}
<img src={{asset("images/banniere-contact.jpg")}} alt="Banniere contact">
{{ form_start(our_form) }}
<div id="contactTop">
  <div class="contactTopInput">
    {{ form_label(our_form.nom)}}
    {{ form_widget(our_form.nom)}}
  </div>
  <div class="contactTopInputRight">
    {{ form_label(our_form.prenom)}}
    {{ form_widget(our_form.prenom)}}
  </div>
  <div class="contactTopInput">
    {{ form_label(our_form.email)}}
    {{ form_widget(our_form.email)}}
  </div>
  <div class="contactTopInputRight">
    {{ form_label(our_form.entreprise)}}
    {{ form_widget(our_form.entreprise)}}
  </div>
</div>

  <div id="Categorie">
    <p>Catégorie</p>
    {% for cate in our_form.cate %}
    <div class="CategorieLine">
      {{ form_widget(cate)}}
      {{ form_label(cate)}}
    </div>
    {% endfor %}
  </div>

  <div id="Objet">
  {{ form_label(our_form.objet)}}
  {{ form_widget(our_form.objet)}}
  </div>

  <div id="Message">
  {{ form_label(our_form.message)}}
  {{ form_widget(our_form.message)}}
  </div>

  <div id="Consent">
  {{ form_widget(our_form.rgpd)}}
  {{ form_label(our_form.rgpd)}}
  </div>

{{ form_widget(our_form) }}



  <input id="submit" type="submit" value="ENVOYER"/>

{{ form_end(our_form) }}
<form>



</form>

{% endblock %}
