<!DOCTYPE html>
<html lang="fr">
<!-- UTILITAIRES -->
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- DESCRIPTION -->
<title>Com4Up - {% block title %}{% endblock %}</title>
<meta name="description" content="Agence de communication digitale">
<meta name="keywords" content="Com4Up, Agence, communication, digitale, web, entreprise, video, réseaux sociaux, hardware">

<!-- CSS -->
<link type="text/css" rel="stylesheet" href={{asset("css/fonts.css")}} />
<link type="text/css" rel="stylesheet" href={{asset("css/fixe.css")}} />
{% block stylesheets %}{% endblock %}

<!-- FAVICON -->
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="../images/favicon/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../images/favicon/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="../images/favicon/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="../images/favicon/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="../images/favicon/apple-touch-icon-60x60.png" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="../images/favicon/apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="../images/favicon/apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="../images/favicon/apple-touch-icon-152x152.png" />
<link rel="icon" type="image/png" href="../images/favicon/favicon-196x196.png" sizes="196x196" />
<link rel="icon" type="image/png" href="../images/favicon/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/png" href="../images/favicon/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="../images/favicon/favicon-16x16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="../images/favicon/favicon-128.png" sizes="128x128" />
<meta name="application-name" content="&nbsp;" />
<meta name="msapplication-TileColor" content="../images/favicon/#FFFFFF" />
<meta name="msapplication-TileImage" content="../images/favicon/mstile-144x144.png" />
<meta name="msapplication-square70x70logo" content="../images/favicon/mstile-70x70.png" />
<meta name="msapplication-square150x150logo" content="../images/favicon/mstile-150x150.png" />
<meta name="msapplication-wide310x150logo" content="../images/favicon/mstile-310x150.png" />
<meta name="msapplication-square310x310logo" content="../images/favicon/mstile-310x310.png" />

<!-- POLICE -->
<link type="text/css" rel="stylesheet" href="../fonts/fontawesome-pro-5.4.2-web/css/all.css" />
</head>

<body>
  <header id="HeaderDesktop">
    <h1 class="logo"><a href="{{ path('default') }}"><span class="Com">Com</span><span class="Four">4</span><span class="Up">Up</span></a></h1>
    <nav>
      <ul id="NavDesktop">
        {% if app.request.attributes.get('_route') == "default" %}
        <li class="Current_page"><a href="{{ path('default') }}">Accueil</a></li>
        {% else %}
        <li><a href="{{ path('default') }}">Accueil</a></li>
        {% endif %}
        {% if app.request.attributes.get('_route') == "services" or app.request.attributes.get('_route') == "services_web" or app.request.attributes.get('_route') == "services_audiovisuel" or app.request.attributes.get('_route') == "services_social" or app.request.attributes.get('_route') == "services_materiel" or app.request.attributes.get('_route') == "services_materiel_tarifs" %}
        <li class="Current_page"><a href="{{ path('services') }}">Services</a></li>
        {% else %}
        <li><a href="{{ path('services') }}">Services</a></li>
        {% endif %}
        {% if app.request.attributes.get('_route') == "projets" or app.request.attributes.get('_route') == "projet_id"  %}
        <li class="Current_page"><a href="{{ path('projets') }}">Projets</a></li>
        {% else %}
        <li><a href="{{ path('projets') }}">Projets</a></li>
        {% endif %}
        {% if app.request.attributes.get('_route') == "equipe" %}
        <li class="Current_page"><a href="{{ path('equipe') }}">Équipe</a></li>
        {% else %}
        <li><a href="{{ path('equipe') }}">Équipe</a></li>
        {% endif %}
        {% if app.request.attributes.get('_route') == "a_propos" %}
        <li class="Current_page"><a href="{{ path('a_propos') }}">À propos</a></li>
        {% else %}
        <li><a href="{{ path('a_propos') }}">À propos</a></li>
        {% endif %}
        {% if app.request.attributes.get('_route') == "contact" %}
        <li class="Current_page"><a href="{{ path('contact') }}">Contact</a></li>
        {% else %}
        <li><a href="{{ path('contact') }}">Contact</a></li>
        {% endif %}
          <li  id="lang"><span  class="Current_page">FR</span> | EN</li>
      </ul>
    </nav>
  </header>
  <header id='HeaderMobile'>
    <div id="HeaderMobileTop">
      <h1 class="logo"><a href="{{ path('default') }}"><span class="Com">Com</span><span class="Four">4</span><span class="Up">Up</span></a></h1>
      <i class="far fa-bars" id="NavMobileIcone" onclick="navMobile()"></i>
    </div>
    <ul>
      {% if app.request.attributes.get('_route') == "default" %}
      <li class="Current_page"><a href="{{ path('default') }}">Accueil</a></li>
      {% else %}
      <li><a href="{{ path('default') }}">Accueil</a></li>
      {% endif %}
      {% if app.request.attributes.get('_route') == "services" or app.request.attributes.get('_route') == "services_web" or app.request.attributes.get('_route') == "services_audiovisuel" or app.request.attributes.get('_route') == "services_social" or app.request.attributes.get('_route') == "services_materiel" %}
      <li class="Current_page"><a href="{{ path('services') }}">Services</a></li>
      {% else %}
      <li><a href="{{ path('services') }}">Services</a></li>
      {% endif %}
      {% if app.request.attributes.get('_route') == "projets" or app.request.attributes.get('_route') == "projet_id"  %}
      <li class="Current_page"><a href="{{ path('projets') }}">Projets</a></li>
      {% else %}
      <li><a href="{{ path('projets') }}">Projets</a></li>
      {% endif %}
      {% if app.request.attributes.get('_route') == "equipe" %}
      <li class="Current_page"><a href="{{ path('equipe') }}">Équipe</a></li>
      {% else %}
      <li><a href="{{ path('equipe') }}">Équipe</a></li>
      {% endif %}
      {% if app.request.attributes.get('_route') == "a_propos" %}
      <li class="Current_page"><a href="{{ path('a_propos') }}">À propos</a></li>
      {% else %}
      <li><a href="{{ path('a_propos') }}">À propos</a></li>
      {% endif %}
      {% if app.request.attributes.get('_route') == "contact" %}
      <li class="Current_page"><a href="{{ path('contact') }}">Contact</a></li>
      {% else %}
      <li><a href="{{ path('contact') }}">Contact</a></li>
      {% endif %}
    </ul>
  </header>
  <main>
    {% block body %}{% endblock %}
  </main>
  <footer>
    <div id="Footer_info">
      <p>Agence Web/Audiovisuelle accompagnant votre projet vers le Numérique.</p>
    </div>
    <div id="Footer_contact">
      <h2>Contact</h2>
      <p>10 Rue des coquelicots, 57730 Valmont</p>
      <a href="mailto:contact@com4up.fr">contact@com4up.fr</a>
      <p>06 51 27 71 62</p>
    </div>
    <div id="Footer_Social">
      <h2>Réseaux Sociaux</h2>
      <div id="Footer_Social_ico">
        <a href="https://www.facebook.com/Com4Up/" target="_blank"><i class="fab fa-facebook-square"></i></a>
        <a href="https://www.instagram.com/Com4Up/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.linkedin.com/company/com4up/" target="_blank"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
    <div id="Footer_Legal">
      <h2>Informations</h2>
      <a href="{{ path('a_propos') }}">À propos</a>
      <a href="{{ path('mentions_legales') }}">Mentions Légales</a>
      <p>Copyright</p>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <script>
  function adpaterHauteur()
{
  var hauteurFenetre = window.innerHeight;
    document.querySelector("#HeaderMobile ul").style.height = hauteurFenetre +'px';
}

function addEvent(element, type, listener)
{
    if(element.addEventListener)
    {
        element.addEventListener(type, listener, false);
    }
    else if(element.attachEvent)
    {
        element.attachEvent("on"+type, listener);
    }
}


addEvent(window, "load", adpaterHauteur);
addEvent(window, "resize", adpaterHauteur);
</script>
<script>
var Nav = 0;
function navMobile() {
    if ( Nav == 0) {
      $('#HeaderMobile ul').css({
    display: 'flex'
});

    Nav = 1;
  }
  else {
  $('#HeaderMobile ul').css({
display: 'none'
});
  Nav = 0;
}
}

  </script>
  {% block javascripts %}{% endblock %}
</body>

</html>
